<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/DB_Banco?createDatabaseIfNotExist=true&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        
        <mapping class="Dominio.Genero" resource="Dominio/Genero.hbm.xml"/>
        <mapping class="Dominio.Provincia" resource="Dominio/Provincia.hbm.xml"/>
        <mapping class ="Dominio.Tipo_Cuenta" resource="Dominio/Tipo_Cuenta.hbm.xml"/>
        <mapping class ="Dominio.Tipo_Usuario" resource="Dominio/Tipo_Usuario.hbm.xml"/>
        <mapping class="Dominio.Tipo_Movimiento" resource="Dominio/Tipo_Movimiento.hbm.xml"/>
        <mapping class="Dominio.Localidad" resource="Dominio/Localidad.hbm.xml"/>
        <mapping class="Dominio.Usuario" resource="Dominio/Usuario.hbm.xml"/>
        <mapping class="Dominio.Logueo" resource="Dominio/Logueo.hbm.xml"/>
        <mapping class="Dominio.Cuenta" resource="Dominio/Cuenta.hbm.xml"/>
        <mapping class="Dominio.Movimiento" resource="Dominio/Movimiento.hbm.xml"/>
        <mapping class="Dominio.Prestamo" resource="Dominio/Prestamo.hbm.xml"/>
        <mapping class="Dominio.Cuota" resource="Dominio/Cuota.hbm.xml"/>
        <mapping class="Dominio.Transferencia" resource="Dominio/Transferencia.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
