.dropdown-menu-user {
    left: -80px;	
}

.btn-grid {
	display: block!important;
	margin: auto!important;
    padding: .2rem .5rem!important;
    border: 1px solid gray!important;
}

.edit-text {
	cursor: hand;
	color: dimgray;
	text-decoration: underline;
	text-align: center;
}

.form-detalle {
    height: calc(1em + .75rem + 2px);
    margin-top: -3px;
    margin-left: -6.5px;
    padding: .375rem .35rem;
}

#text-ident {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tableMovements th {
	border-top: 0px;
}

.form-prestamo {
	width: 70%;
}

.form-prestamo-mes {
	width: 20%;	
}

.ImporteCredito {
	color: darkgreen;
    font-weight: 500;
}

.ImporteDebito {
	color: red;
    font-weight: 500;
}

.div.dataTables_wrapper div.dataTables_filter{
	text-align: left;
}

.navBarRedirec {
	border: 0px!important;
    background-color: transparent!important;
}

.navBarRedirec:focus {
	outline: 0px!important;
}

form {
	margin-block-end: 0px!important;
}

.container-prestamo {
	width: 35%;	
/* 	-webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.69);
	-moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.69);
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.69); */
}