.dropdown-menu {
    left: -80px;	
}

.btn-grid {
	display: block;
	margin: auto;
    padding: .2rem .5rem;
}

.edit-text {
	cursor: hand;
	color: dimgray;
	text-decoration: underline;
	text-align: center;
}

.form-detalle {
    height: calc(1em + .75rem + 2px);
    margin-top: -3px;
    margin-left: -6.5px;
    padding: .375rem .35rem;
}

#text-ident {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tableMovements th {
	border-top: 0px;
}